:root{
  background-color: rgb(70, 68, 68);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
/* title */
.showcase{
  text-align: center;
}
.title{
  font-size: 100px;
  background: -webkit-linear-gradient(60deg, #5cb840, #4fb2e0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 5px;
}
.row{
  text-align: center;
  /* display: flex; */
}

/* flags below title */
.header{
  display: inline-block;
  max-height: 50px;
  width: 100px;
}

/* buttons */
#nav-buttons{
  text-align: center;
}
#study-button, #quiz-button {
  display: inline-block;
  width: 200px;
  height: 50px;
  background-color: rgb(139, 136, 136);
  color: rgb(32, 218, 156);
  border-color: rgb(32, 218, 156);
  border-radius: 20%;
  border-width: 3px;
  font-size: x-large;
}

/* country cards */
#country-container, #how-to-play, #form, #scoreboard{
  text-align: center;
}
.flag-container{
  text-align: center;
}
.flag-container img{
  height: 100px;
  max-width: 100%;
}
.card{
  width: 250px;
  height: 400px;
  padding: 15px;
  display: inline-grid;
  text-align: center;
  flex-wrap: wrap;
  margin: 20px;
  background-color: rgb(16, 172, 120);
  border-radius: 10px;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(3, 206, 94, 0.685);
}

#search{
  padding: 10px;
  background-color: rgb(16, 172, 120);
  border-radius: 10px;
  color: rgb(3, 3, 3);
}


/* trvia page */
#trivia-game{
  justify-content: center;
  text-align: center;
  background-color: rgb(16, 172, 120);
  border-radius: 10%;
}
#trivia-container{
  width: 80%;
  height: auto;
  padding-left: 140px;
}
.header{
  display: inline;
}
.header #hint{
  float: left;
  font-size: 30px;
  background-color: rgb(32, 218, 156);
  border-color: grey;
  border-width: 2px;
  border-radius: 20%;
  color: rgb(139, 136, 136);
  margin-left: 50px;
  margin-top: 40px;
}
.header #timer{
  float: right;
  font-size: 30px;
  height: 50px;
  width: 50px;
  background-color: rgb(32, 218, 156);
  border-color: grey;
  border-radius: 50%;
  border-width: 2px;
  color: grey;
  margin-right: 50px;
  margin-top: 40px;
}
#start-over{
  margin-top: 10px;
  font-size: 20px;
  background-color: rgb(32, 218, 156);
  border-color: grey;
  border-width: 2px;
  border-radius: 20%;
  color: rgb(139, 136, 136);
}
#trivia-flag {
  max-width : 37%; 
  height : auto;
  padding-top : 50px
}
#answer{
  padding: 10px;
  background-color: grey;
  border-radius: 10px;
  color: rgb(32, 218, 156);
}
#answer::placeholder { 
  color: rgb(32, 218, 156);
}
#submit-input{
  height: 30px;
  background-color: rgb(139, 136, 136);
  color: rgb(32, 218, 156);
  border-color: rgb(32, 218, 156);
  border-radius: 20%;
  font-size: large;
}
#scoreboard{
  background-color: #4fb2e0;
}

#score, .answer-list{
  padding-bottom: 10px;
}

.right, .wrong {
  padding : 10px;
}
.right{
  color: rgb(69, 252, 69);
}
.wrong{
  color: rgb(255, 0, 0);
}

#game-over {
  max-width: 100%; 
  height : auto
}